@CHARSET "ISO-8859-1";

.body{
	font-family: sans-serif;
	background: #e3e3e3;
	font-family: helvetica;
	font-size: 14px;
	text-align: center;
}
div{
	display: block;
}

#content{
	max-width: 1170px;
	height: auto;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #F2F2F2;
	overflow: hidden;
	background-color: #eee;
}

.pageContainer{
	padding: 30px 15px;
	margin-bottom: 30px;
	color: inherit;
 	background-color: #eee;
}

.errorMessage{
	color:red;
}

.infoMessage{
	color:blue;
}

.warnMessage{
	color:orange;
}

#content .title{
	font-size:32px;
	color:red;
}

#footer{
	margin-top: 100px;
}